body {
  font-family: 'Arial', sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.App {
  text-align: center;
  width: 100%;
  max-width: 800px;
  padding: 20px;
}
.gnrl {
  background-color: #333;
  padding: 20px;
  border-radius: 8px;
  margin-bottom: 20px;
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.ttl {
  color: white;
  font-size: 28px;
  margin: 0;
}
 button {
  background-color: #555;
  border: none;
  padding: 10px 15px;
  margin: 0 5px;
  border-radius: 4px;
  font-size: 16px;
  transition: background-color 0.3s ease;
  color: white;
}
 button:hover {
  background-color: #777;
}
.home-container {
  background: white;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 20px;
}
.home-container h3 {
  color: #333;
  margin-bottom: 20px;
}
.home-container input {
  width: calc(100% - 120px);
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-right: 10px;
  font-size: 16px;
}
.home-container button:hover {
  background-color: #555;
}
.timer-container {
  background: white;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 20px;
}
.timer-container h2 {
  color: #333;
  margin-bottom: 20px;
}
.timer-container p {
  font-size: 24px;
  margin-bottom: 20px;
}
.todo-container {
  background: white;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 20px;
}
.todo-container h2 {
  color: #333;
  margin-bottom: 20px;
}
.todo-container input {
  width: calc(100% - 120px);
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-right: 10px;
  font-size: 16px;
}
.todo-container ul {
  list-style: none;
  padding: 0;
  margin-top: 20px;
}
.todo-container ul li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background: white;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-bottom: 10px;
}
.todo-container ul li button {
  background-color: #dc3545;
  padding: 5px 10px;
  border-radius: 4px;
  font-size: 14px;
  color: white;
  border: none;
  transition: background-color 0.3s ease;
}
.quote-container {
  background: white;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 20px;
}
.quote-container h2 {
  color: #333;
  margin-bottom: 20px;
}
.quote-container blockquote {
  font-size: 18px;
  color: #555;
  margin: 0;
  padding: 0;
}
.quote-container blockquote footer {
  margin-top: 10px;
  font-size: 16px;
  color: #888;
}
.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.modal-content {
  background: #fff;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 100%;
  z-index: 1001;
  text-align: center;
}

.modal-content h2 {
  margin-bottom: 20px;
  color: #333;
}

.modal-content input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 16px;
}

.modal-content input:focus {
  border-color: #555;
  outline: none;
}
ul {
  list-style: none;
}
